### I hate myself

In [3]:
import pandas as pd

# Reload the dataset with the correct delimiter
data = pd.read_csv("cardio_train.csv", delimiter=';')

# Replace numeric labels with descriptive categories
data['gender'] = data['gender'].replace({1: 'Female', 2: 'Male'})
data['cholesterol'] = data['cholesterol'].replace({1: 'Normal', 2: 'Above Normal', 3: 'Well Above Normal'})
data['gluc'] = data['gluc'].replace({1: 'Normal', 2: 'Above Normal', 3: 'Well Above Normal'})
data['smoke'] = data['smoke'].replace({0: 'No', 1: 'Yes'})
data['alco'] = data['alco'].replace({0: 'No', 1: 'Yes'})
data['active'] = data['active'].replace({0: 'No', 1: 'Yes'})
data['cardio'] = data['cardio'].replace({0: 'No', 1: 'Yes'})

# Convert age from days to years
data['age_years'] = (data['age'] / 365).astype(int)

# Drop the original 'age' column to avoid redundancy
data = data.drop(columns=['age'])

# Display the first few rows of the cleaned dataset
data.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,Male,168,62.0,110,80,Normal,Normal,No,No,Yes,No,50
1,1,Female,156,85.0,140,90,Well Above Normal,Normal,No,No,Yes,Yes,55
2,2,Female,165,64.0,130,70,Well Above Normal,Normal,No,No,No,Yes,51
3,3,Male,169,82.0,150,100,Normal,Normal,No,No,Yes,Yes,48
4,4,Female,156,56.0,100,60,Normal,Normal,No,No,No,No,47

In [4]:
## Open Cardio Clean csv
df = pd.read_csv('cardio_dataset.csv')
df.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,Male,168,62.0,110,80,Normal,Normal,No,No,Yes,No,50
1,1,Female,156,85.0,140,90,Well Above Normal,Normal,No,No,Yes,Yes,55
2,2,Female,165,64.0,130,70,Well Above Normal,Normal,No,No,No,Yes,51
3,3,Male,169,82.0,150,100,Normal,Normal,No,No,Yes,Yes,48
4,4,Female,156,56.0,100,60,Normal,Normal,No,No,No,No,47

In [7]:
# Reload the dataset with correct delimiter
data = pd.read_csv('cardio_train.csv', delimiter=';')

# Replace numeric labels with descriptive categories
data['gender'] = data['gender'].replace({1: 'Female', 2: 'Male'})
data['cholesterol'] = data['cholesterol'].replace({1: 'Normal', 2: 'Above Normal', 3: 'Well Above Normal'})
data['gluc'] = data['gluc'].replace({1: 'Normal', 2: 'Above Normal', 3: 'Well Above Normal'})
data['smoke'] = data['smoke'].replace({0: 'No', 1: 'Yes'})
data['alco'] = data['alco'].replace({0: 'No', 1: 'Yes'})
data['active'] = data['active'].replace({0: 'No', 1: 'Yes'})

# Convert age from days to years
data['age_years'] = (data['age'] / 365).astype(int)

# Drop the original 'age' and 'cardio' columns to clean the dataset
data_no_target = data.drop(columns=['age', 'cardio'])

# Save the dataset without the 'cardio' target variable
no_target_file_path = 'cardio_cleaned.csv'
data_no_target.to_csv(no_target_file_path, index=False)

no_target_file_path

'cardio_cleaned.csv'